

body {background-color: #ffd9da;}
text {color:#89023e}
h1,h2{Color:#ea638c}
a {
  color: #8A2846;
}
.banner-img {
  max-width: 100%;
  height: auto;
  display: block;
}

a:hover {
  color: #7276f6;
}
nav { background-color: #ffd9da; padding: 10px; 
  margin-bottom: 30px;       
  text-align: center;
}
nav a:hover{background-color:#7276f6 ;}
footer {
  background-color: #f2f2f2;
  border-top: 2px solid #999; 
  padding: 8px 15px;
  overflow: hidden;            
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

footer p {
  margin: 0;
}

.copyright {
  float: left;
}

.tagline {
  float: right;
  font-style: italic;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
}

.row {
  display: flex;
  gap: 20px; 
  margin-bottom: 30px; 
}

.column {
  flex: 1; 
  padding: 20px;
  background-color: #ffe0e9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.address-box {
  background-color: #ffe0e9;
}

.contact-links-box {
  background-color: #ffe0e9;
}

.form-box {
  background-color: #ffe0e9;;
}

.map-box {
  background-color: #ffe0e9
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ea638c;
  color: white;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #ffe0e9;
}
body {font-family: 'Trebuchet MS', sans-serif;}
table, th, td {border: 1px solid black;}
h1 {font-size: 5em;}
h2 {font-size: 2em;}


body {background-color: #ffd9da;}
text {color:#89023e}
h1,h2{Color:#ea638c}
a {
  color: #8A2846;
}

body {
  font-family: 'Trebuchet MS', sans-serif
  margin 20px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}


h1 {
  text-align: center; 
}

p.intro {
  text-align: center;
  width: 60%;
  margin: 0 auto 30px auto;
}


.flexbox2 {
  display: flex;
  justify-content: space-between;
}

.icons-section {
  flex: 3; 
}

aside {
  flex: 1; 
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 15px;
  margin-left: 20px;
}


.skills-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.skill {
  flex-basis: 18%; 
  margin-bottom: 20px;
}

.skill i {
  font-size: 50px;
  width: 60px;
  height: 60px;
  color: #444;
}

.skill-name {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


aside h2 {
  text-align: center;
}

aside ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

aside li {
  padding: 5px 0;
}
nav {
  text-align: left;       
  background-color: #f1f1f1;
  border: 2px solid #ccc;    
  border-radius: 10px;      
  padding: 10px 20px;       
  width: 100%;        
  margin: 10px 0 30px 0;      
}
@media screen and (max-width: 768px) {}
  nav {
    text-align: left;
  }
